@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .hover-animate::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: white;
    transition: all 0.2s ease;
  }
  .hover-animate:hover::before {
    width: 100%;
  }
}
